{%  extends "blog/layout.html" %}

{%  block content %}
 <form action="" method="get">
    <input type="text" name="q" value="{{ q }}"/>
    <input type="submit" value="검색"/>
</form>

<ul>
    {%  for post in post_list %} <!-- post_list 를 순회하면서 각 사항을 출력 -->
    <li>
        {{ post.id }}
        <a href="/blog/{{ post.id }}/">
            {{post.title }}
        </a>
        <small>by {{ post.author }}</small>
        <small>at {{ post.updated_at }}</small>
    </li>
{% endfor %}
</ul>
<p>
    <ul>
    <li>가나다라마바사</li>
    <li>템플릿 블라바라라아ㅏㄹ아ㅏㅇ라 경로가 왜이런지는 나중에와라라라라랄</li>
</ul>
</p>
{%  endblock %}
